
.card-holder{
    margin: 50px 50px;
    width: 80%;
}

.contenthead{

}

.card{

    width: 21rem;
    margin: 30px;
    float: left;
    z-index: -1 ;
    transition: all .3s ease-in-out;

}

.card:hover{
 transform  :scale(1.1) ;
}

.card:hover .card-img-top{
    filter:blur(10px);
}

.card-body{
    padding: 10px;
}

.card-title{
    font-weight: bolder;
    font-size: 30px;
    text-transform: capitalize;
    
}

.card-img-top{
    
}

.card-img-top:hover{
    
}

.card-text{

}

.class-hide{

    display: none;
}

.list-group{
    background-color: azure;

}
.arrange{

}
.list-group-item{

}








